@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --red: #33587b;
  --yellow: #5fa505;
  --black: #000000;
  --gray: #f6f6f6;
  --white: #ffffff;
  --grayish: #949494;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}
